--- 
import { Container } from '@littlesticks/odyssey-theme-components';
import FeatureCard from "../components/sections/heros/FeatureCard.astro"
import MapCard from "../components/sections/heros/MapCard.astro"
import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
import { CtaCardSection, Button} from '@littlesticks/odyssey-theme-components';
import { Icon } from 'astro-icon';
---
<Layout>
	<HomeHeroSection/>
	<Container>
		<section class="feature-card__section">
			<h2 class="link"><a style="text-decoration: none;">Quick Access</a></h2>
			<div class="feature-card__grid">
				<FeatureCard href="/ip-trips/nc-lakes" title="IP Trips" imgSrc="/">
				</FeatureCard>
				<FeatureCard href="/ip-trips/okefenokee" title="Active Staff" imgSrc="/">
				</FeatureCard>
			</div>
		</section>
	</Container>
	<Container>
		<section class="feature-card__section">
			<div class="feature-card__grid__three">
				<FeatureCard href="/ip-trips/nc-lakes" title="Meeting Minutes" imgSrc="/">
				</FeatureCard>
				<FeatureCard href="/ip-trips/okefenokee" title="Policies" imgSrc="/">
				</FeatureCard>
				<FeatureCard href="/ip-trips/okefenokee" title="Progression" imgSrc="/">
				</FeatureCard>
			</div>
		</section>
	</Container>
</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	.feature-card__grid__three {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
	.link:hover {
    text-decoration: underline;
    cursor: pointer;
  }
</style>
